<ion-view title="Bedömning" id="page91">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h4 id="bedMning2-heading114" style="color:#000000;text-align:center;">Bedömning av återkoppling 2</h4>
    <h5 id="bedMning2-heading115" style="color:#000000;text-align:center;">Uppgift 1</h5>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <form id="bedMning2-form19" class="list">
      <ion-item class="item-divider" id="bedMning2-list-item-divider24"> 1=mycket dålig, 5=mycket bra</ion-item>
      <div class="item item-body" id="bedMning2-list-item-container33">
        <div id="bedMning2-markdown151" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Koppling till mål</p>
        </div>
      </div>
      <div id="bedMning2-button-bar69" class="button-bar">
        <button id="bedMning2-button216" class="button button-stable button-block button-outline">1</button>
        <button id="bedMning2-button217" class="button button-stable button-block button-outline">2</button>
        <button id="bedMning2-button218" class="button button-dark button-block">3</button>
        <button id="bedMning2-button219" class="button button-stable button-block button-outline">4</button>
        <button id="bedMning2-button220" class="button button-stable button-block button-outline">5</button>
      </div>
      <div class="item item-body" id="bedMning2-list-item-container34">
        <div id="bedMning2-markdown152" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Timing</p>
        </div>
      </div>
      <div id="bedMning2-button-bar70" class="button-bar">
        <button id="bedMning2-button221" class="button button-stable button-block button-outline">1</button>
        <button id="bedMning2-button222" class="button button-stable button-block button-outline">2</button>
        <button id="bedMning2-button223" class="button button-stable button-block button-outline">3</button>
        <button id="bedMning2-button224" class="button button-dark button-block">4</button>
        <button id="bedMning2-button225" class="button button-stable button-block button-outline">5</button>
      </div>
      <div class="item item-body" id="bedMning2-list-item-container35">
        <div id="bedMning2-markdown153" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Budskap</p>
        </div>
      </div>
      <div id="bedMning2-button-bar71" class="button-bar">
        <button id="bedMning2-button226" class="button button-stable button-block button-outline">1</button>
        <button id="bedMning2-button227" class="button button-stable button-block button-outline">2</button>
        <button id="bedMning2-button228" class="button button-stable button-block button-outline">3</button>
        <button id="bedMning2-button229" class="button button-dark button-block">4</button>
        <button id="bedMning2-button230" class="button button-stable button-block button-outline">5</button>
      </div>
      <ion-item class="item-divider" id="bedMning2-list-item-divider25"> 1=Inte alls konstruktiva, </ion-item>
      <ion-item class="item-divider" id="bedMning2-list-item-divider26"> 5=mycket konstruktiva</ion-item>
      <div class="item item-body" id="bedMning2-list-item-container36">
        <div id="bedMning2-markdown154" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Goda råd</p>
        </div>
      </div>
      <div id="bedMning2-button-bar72" class="button-bar">
        <button id="bedMning2-button231" class="button button-stable button-block button-outline">1</button>
        <button id="bedMning2-button232" class="button button-stable button-block button-outline">2</button>
        <button id="bedMning2-button233" class="button button-stable button-block button-outline">3</button>
        <button id="bedMning2-button234" class="button button-stable button-block button-outline">4</button>
        <button id="bedMning2-button235" class="button button-dark button-block">5</button>
      </div>
      <ion-item class="item-divider" id="bedMning2-list-item-divider27"> Kommentarer</ion-item>
      <div class="item item-body" id="bedMning2-list-item-container37">
        <div id="bedMning2-markdown155" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">(inga kommentarer)</p>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>