<ion-view title="Bedöm återkoppling 1/U1" id="page28">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.Terkoppling1U1()" id="bedMTerkoppling1U1-button282" style="text-align:left;" class="button button-positive button-block">Visa återkoppling 1</a>
    <h4 id="bedMTerkoppling1U1-heading119" style="color:#FF6600;text-align:center;">Bedöm återkoppling 1</h4>
    <h5 id="bedMTerkoppling1U1-heading120" style="color:#FF6600;text-align:center;">Uppgift 1</h5>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <h4 id="bedMTerkoppling1U1-heading118" style="color:#000000;text-align:center;"></h4>
    <ion-list id="bedMTerkoppling1U1-list29">
      <ion-item class="item-divider" id="bedMTerkoppling1U1-list-item-divider32"> 1=mycket dålig, 5=mycket bra</ion-item>
    </ion-list>
    <form id="bedMTerkoppling1U1-form6" class="list">
      <ion-item id="bedMTerkoppling1U1-list-item157">Koppling till mål</ion-item>
      <div id="bedMTerkoppling1U1-button-bar98" class="button-bar">
        <button id="bedMTerkoppling1U1-button286" ng-class="{'active': activeSection==1}" ng-click="changeSection(1)" class="button button-positive button-block">1</button>
        <button id="bedMTerkoppling1U1-button287" ng-class="{'active': activeSection==2}" ng-click="changeSection(2)" class="button button-positive button-block">2</button>
        <button id="bedMTerkoppling1U1-button288" ng-class="{'active': activeSection==3}" ng-click="changeSection(3)" class="button button-positive button-block">3</button>
        <button id="bedMTerkoppling1U1-button289" ng-class="{'active': activeSection==4}" ng-click="changeSection(4)" class="button button-positive button-block">4</button>
        <button id="bedMTerkoppling1U1-button290" ng-class="{'active': activeSection==5}" ng-click="changeSection(5)" class="button button-positive button-block">5</button>
      </div>
      <label class="item item-select" id="bedMTerkoppling1U1-select3">
        <span class="input-label">Timing</span>
        <select>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </label>
      <label class="item item-select" id="bedMTerkoppling1U1-select4">
        <span class="input-label">Budskap</span>
        <select>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </label>
      <ion-item class="item-divider" id="bedMTerkoppling1U1-list-item-divider33"> 1=Inte alls konstruktiva,</ion-item>
      <ion-item class="item-divider" id="bedMTerkoppling1U1-list-item-divider34"> 5=Mycket konstruktiva</ion-item>
      <label class="item item-select" id="bedMTerkoppling1U1-select5">
        <span class="input-label">Råd/förslag</span>
        <select>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </label>
      <div class="item item-body" id="bedMTerkoppling1U1-list-item-container43">
        <div id="bedMTerkoppling1U1-markdown162" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Kommentarer</p>
        </div>
      </div>
      <label class="item item-input" id="bedMTerkoppling1U1-input46">
        <input type="text" placeholder="Write your text here!">
      </label>
      <ion-item class="item-divider" id="bedMTerkoppling1U1-list-item-divider38"> Typ av återkoppling</ion-item>
      <ion-radio id="bedMTerkoppling1U1-radio3">Personlig</ion-radio>
      <ion-radio id="bedMTerkoppling1U1-radio4">Uppgiftsorienterad</ion-radio>
      <ion-radio id="bedMTerkoppling1U1-radio5">Processorienterad</ion-radio>
      <ion-radio id="bedMTerkoppling1U1-radio6">Generell</ion-radio>
      <a ui-sref="menu.fRdigUppgift()" id="bedMTerkoppling1U1-button96" class="button button-positive button-block">Skicka</a>
    </form>
  </ion-content>
</ion-view>