<ion-view title="Bedömning " id="page80">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h4 id="bedMning-heading111" style="color:#000000;text-align:center;">Bedömning av återkoppling 1</h4>
    <h5 id="bedMning-heading112" style="color:#000000;text-align:center;">Uppgift 1</h5>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <form id="bedMning-form16" class="list">
      <ion-item class="item-divider" id="bedMning-list-item-divider3"> 1=mycket dålig, 5=mycket bra</ion-item>
      <div class="item item-body" id="bedMning-list-item-container5">
        <div id="bedMning-markdown102" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Koppling till mål</p>
        </div>
      </div>
      <div id="bedMning-button-bar52" class="button-bar">
        <button id="bedMning-button146" class="button button-stable button-block button-outline">1</button>
        <button id="bedMning-button147" class="button button-stable button-block button-outline">2</button>
        <button id="bedMning-button148" class="button button-dark button-block">3</button>
        <button id="bedMning-button149" class="button button-stable button-block button-outline">4</button>
        <button id="bedMning-button150" class="button button-stable button-block button-outline">5</button>
      </div>
      <div class="item item-body" id="bedMning-list-item-container6">
        <div id="bedMning-markdown104" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Timing</p>
        </div>
      </div>
      <div id="bedMning-button-bar53" class="button-bar">
        <button id="bedMning-button151" class="button button-stable button-block button-outline">1</button>
        <button id="bedMning-button152" class="button button-stable button-block button-outline">2</button>
        <button id="bedMning-button153" class="button button-stable button-block button-outline">3</button>
        <button id="bedMning-button154" class="button button-dark button-block">4</button>
        <button id="bedMning-button155" class="button button-stable button-block button-outline">5</button>
      </div>
      <div class="item item-body" id="bedMning-list-item-container7">
        <div id="bedMning-markdown105" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Budskap</p>
        </div>
      </div>
      <div id="bedMning-button-bar54" class="button-bar">
        <button id="bedMning-button156" class="button button-stable button-block button-outline">1</button>
        <button id="bedMning-button157" class="button button-stable button-block button-outline">2</button>
        <button id="bedMning-button158" class="button button-stable button-block button-outline">3</button>
        <button id="bedMning-button159" class="button button-dark button-block">4</button>
        <button id="bedMning-button160" class="button button-stable button-block button-outline">5</button>
      </div>
      <ion-item class="item-divider" id="bedMning-list-item-divider4"> 1=Inte alls konstruktiva, </ion-item>
      <ion-item class="item-divider" id="bedMning-list-item-divider5"> 5=mycket konstruktiva</ion-item>
      <div class="item item-body" id="bedMning-list-item-container8">
        <div id="bedMning-markdown107" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Råd/förslag</p>
        </div>
      </div>
      <div id="bedMning-button-bar55" class="button-bar">
        <button id="bedMning-button161" class="button button-stable button-block button-outline">1</button>
        <button id="bedMning-button162" class="button button-stable button-block button-outline">2</button>
        <button id="bedMning-button163" class="button button-stable button-block button-outline">3</button>
        <button id="bedMning-button164" class="button button-stable button-block button-outline">4</button>
        <button id="bedMning-button165" class="button button-dark button-block">5</button>
      </div>
      <ion-item class="item-divider" id="bedMning-list-item-divider6"> Kommentarer</ion-item>
      <div class="item item-body" id="bedMning-list-item-container9">
        <div id="bedMning-markdown109" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">(inga kommentarer)</p>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>