<ion-view title="Bedöm återkoppling" id="page25">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <ion-list id="bedMTerkoppling-list14" class="manual-list-fullwidth">
      <ion-item class="item-icon-left item-icon-right positive" id="bedMTerkoppling-list-item251">
        <i class="icon ion-ios-list"></i>Att bedöma
        <i class="icon ion-android-remove-circle"></i>
      </ion-item>
    </ion-list>
    <ion-list id="bedMTerkoppling-list101">
      <ion-item class="item-icon-right" id="bedMTerkoppling-list-item250" ui-sref="menu.bedMTerkoppling1U1()">Å1/U4. .. . . 17-10-30
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="bedMTerkoppling-list-item254">Å2/U4. . . . . 17-10-30
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
    <ion-list id="bedMTerkoppling-list102" class="manual-list-fullwidth">
      <ion-item class="item-icon-left item-icon-right positive" id="bedMTerkoppling-list-item252">
        <i class="icon ion-ios-list"></i>Dina bedömningar
        <i class="icon ion-android-remove-circle"></i>
      </ion-item>
    </ion-list>
    <ion-list id="bedMTerkoppling-list104">
      <ion-item class="item-icon-right" id="bedMTerkoppling-list-item256" ui-sref="menu.bedMning()">Å1/U1 . .. . . 17-10-15
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="bedMTerkoppling-list-item257">Å2/U1 . .. . . 17-10-17
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="bedMTerkoppling-list-item258">Å3/U1 . .. . . 17-10-30
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="bedMTerkoppling-list-item259" ui-sref="menu.bedMTerkoppling1U1()">Å1/U1 . .. . . 17-10-30
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="bedMTerkoppling-list-item260">Å2/U1 . .. . . 17-10-30
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>