<ion-view title="Din bedömning " id="page92">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h4 id="dinBedMning-heading116" style="color:#000000;text-align:center;">Bedömning av återkoppling 3</h4>
    <h5 id="dinBedMning-heading117" style="color:#000000;text-align:center;">Uppgift 1</h5>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <form id="dinBedMning-form20" class="list">
      <ion-item class="item-divider" id="dinBedMning-list-item-divider28"> 1=mycket dålig, 5=mycket bra</ion-item>
      <div class="item item-body" id="dinBedMning-list-item-container38">
        <div id="dinBedMning-markdown156" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Koppling till mål</p>
        </div>
      </div>
      <div id="dinBedMning-button-bar73" class="button-bar">
        <button id="dinBedMning-button236" class="button button-stable button-block button-outline">1</button>
        <button id="dinBedMning-button237" class="button button-stable button-block button-outline">2</button>
        <button id="dinBedMning-button238" class="button button-dark button-block">3</button>
        <button id="dinBedMning-button239" class="button button-stable button-block button-outline">4</button>
        <button id="dinBedMning-button240" class="button button-stable button-block button-outline">5</button>
      </div>
      <div class="item item-body" id="dinBedMning-list-item-container39">
        <div id="dinBedMning-markdown157" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Timing</p>
        </div>
      </div>
      <div id="dinBedMning-button-bar74" class="button-bar">
        <button id="dinBedMning-button241" class="button button-stable button-block button-outline">1</button>
        <button id="dinBedMning-button242" class="button button-stable button-block button-outline">2</button>
        <button id="dinBedMning-button243" class="button button-stable button-block button-outline">3</button>
        <button id="dinBedMning-button244" class="button button-dark button-block">4</button>
        <button id="dinBedMning-button245" class="button button-stable button-block button-outline">5</button>
      </div>
      <div class="item item-body" id="dinBedMning-list-item-container40">
        <div id="dinBedMning-markdown158" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Budskap</p>
        </div>
      </div>
      <div id="dinBedMning-button-bar75" class="button-bar">
        <button id="dinBedMning-button246" class="button button-stable button-block button-outline">1</button>
        <button id="dinBedMning-button247" class="button button-stable button-block button-outline">2</button>
        <button id="dinBedMning-button248" class="button button-stable button-block button-outline">3</button>
        <button id="dinBedMning-button249" class="button button-dark button-block">4</button>
        <button id="dinBedMning-button250" class="button button-stable button-block button-outline">5</button>
      </div>
      <ion-item class="item-divider" id="dinBedMning-list-item-divider29"> 1=Inte alls konstruktiva, </ion-item>
      <ion-item class="item-divider" id="dinBedMning-list-item-divider30"> 5=mycket konstruktiva</ion-item>
      <div class="item item-body" id="dinBedMning-list-item-container41">
        <div id="dinBedMning-markdown159" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Råd/förslag</p>
        </div>
      </div>
      <div id="dinBedMning-button-bar76" class="button-bar">
        <button id="dinBedMning-button251" class="button button-stable button-block button-outline">1</button>
        <button id="dinBedMning-button252" class="button button-stable button-block button-outline">2</button>
        <button id="dinBedMning-button253" class="button button-stable button-block button-outline">3</button>
        <button id="dinBedMning-button254" class="button button-stable button-block button-outline">4</button>
        <button id="dinBedMning-button255" class="button button-dark button-block">5</button>
      </div>
      <ion-item class="item-divider" id="dinBedMning-list-item-divider31"> Kommentarer</ion-item>
      <div class="item item-body" id="dinBedMning-list-item-container42">
        <div id="dinBedMning-markdown160" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Ev. övriga kommentarer om din kollegas återkoppling till dig</p>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>