<ion-view title="Exempel/återkoppling" id="page55">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 27px;"></div>
    <div id="exempelTerkoppling-markdown63" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Här visas
        <strong>klickbara</strong> exempel på återkoppling. Överst den som fått högsta betyg av de bedömda.</p>
    </div>
    <ion-list id="exempelTerkoppling-list10">
      <ion-item id="exempelTerkoppling-list-item80" ui-sref="skickadTerkoppling1U1()">Exempel 1</ion-item>
      <ion-item id="exempelTerkoppling-list-item81" ui-sref="visaTerkoppling()">Exempel 2</ion-item>
      <ion-item id="exempelTerkoppling-list-item82">Exempel 3</ion-item>
      <ion-item id="exempelTerkoppling-list-item83">Exempel 4</ion-item>
    </ion-list>
  </ion-content>
</ion-view>