<ion-view title="Färdig uppgift" id="page106">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h4 id="fRdigUppgift3-heading149" style="text-align:center;">Uppgift 3</h4>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <ion-list id="fRdigUppgift3-list51" class="manual-list-fullwidth">
      <ion-item class="item-icon-left" id="fRdigUppgift3-list-item175" ui-sref="menu.uppgift4()">
        <i class="icon ion-information-circled"></i>Beskrivning</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <ion-list id="fRdigUppgift3-list52" class="manual-list-fullwidth">
      <ion-item class="item-icon-left" id="fRdigUppgift3-list-item176" ui-sref="menu.materialTillUppgift()">
        <i class="icon ion-ios-albums"></i>Material</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <ion-list id="fRdigUppgift3-list53" class="manual-list-fullwidth">
      <ion-item class="item-icon-left" id="fRdigUppgift3-list-item178" ui-sref="menu.meddelanden3()">
        <i class="icon ion-android-notifications-none"></i>Meddelanden</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <ion-list id="fRdigUppgift3-list54" class="manual-list-fullwidth">
      <ion-item class="item-icon-left" id="fRdigUppgift3-list-item179" ui-sref="menu.grupper()">
        <i class="icon ion-person-stalker"></i>Dina grupper</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <ion-list id="fRdigUppgift3-list55" class="manual-list-fullwidth">
      <ion-item class="item-icon-left" id="fRdigUppgift3-list-item182" ui-sref="menu.grupper()">
        <i class="icon ion-ios-eye"></i>Inskickad uppgift</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <ion-list id="fRdigUppgift3-list56" class="manual-list-fullwidth">
      <ion-item class="item-icon-left" id="fRdigUppgift3-list-item183" href-inappbrowser="page76">
        <i class="icon ion-ios-people"></i>Återkoppling</ion-item>
    </ion-list>
    <ion-list id="fRdigUppgift3-list57">
      <ion-item class="item-icon-left" id="fRdigUppgift3-list-item184" ui-sref="menu.Terkoppling1U2()">
        <i class="icon ion-ios-person"></i>Å1 . . . . . 17-09-15</ion-item>
      <ion-item class="item-icon-left" id="fRdigUppgift3-list-item189" href-inappbrowser="page51">
        <i class="icon ion-ios-person"></i>Å2 . . . . . 17-09-15</ion-item>
      <ion-item class="item-icon-left" id="fRdigUppgift3-list-item190" href-inappbrowser="page52">
        <i class="icon ion-ios-person"></i>Å3 . . . . . 17-09-16</ion-item>
    </ion-list>
  </ion-content>
</ion-view>