<ion-view title="Färdig uppgift" id="page103">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h4 id="fRdigUppgift-heading138" style="text-align:center;">Uppgift 1</h4>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <ion-list id="fRdigUppgift-list81" class="manual-list-fullwidth">
      <ion-item class="item-icon-left" id="fRdigUppgift-list-item227" ui-sref="menu.uppgift4()">
        <i class="icon ion-information-circled"></i>Uppgiftsbeskrivning</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <ion-list id="fRdigUppgift-list82" class="manual-list-fullwidth">
      <ion-item class="item-icon-left" id="fRdigUppgift-list-item228" ui-sref="menu.materialTillUppgift()">
        <i class="icon ion-ios-albums"></i>Material</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <ion-list id="fRdigUppgift-list83" class="manual-list-fullwidth">
      <ion-item class="item-icon-left" id="fRdigUppgift-list-item229" ui-sref="menu.meddelanden3()">
        <i class="icon ion-android-notifications-none"></i>Meddelanden</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <ion-list id="fRdigUppgift-list84" class="manual-list-fullwidth">
      <ion-item class="item-icon-left" id="fRdigUppgift-list-item230" ui-sref="menu.grupper()">
        <i class="icon ion-person-stalker"></i>Dina grupper</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <ion-list id="fRdigUppgift-list85" class="manual-list-fullwidth">
      <ion-item class="item-icon-left" id="fRdigUppgift-list-item231" ui-sref="menu.grupper()">
        <i class="icon ion-ios-eye"></i>Inskickad uppgift</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <ion-list id="fRdigUppgift-list86" class="manual-list-fullwidth">
      <ion-item class="item-icon-left" id="fRdigUppgift-list-item232" href-inappbrowser="page76">
        <i class="icon ion-ios-people"></i>Återkoppling</ion-item>
    </ion-list>
    <ion-list id="fRdigUppgift-list87">
      <ion-item class="item-icon-left" id="fRdigUppgift-list-item233" ui-sref="menu.Terkoppling1U1()">
        <i class="icon ion-ios-person"></i>Å1 . . . . . 17-03-13</ion-item>
      <ion-item class="item-icon-left" id="fRdigUppgift-list-item234" href-inappbrowser="page51">
        <i class="icon ion-ios-person"></i>Å2 . . . . . 17-03-13</ion-item>
      <ion-item class="item-icon-left" id="fRdigUppgift-list-item235" href-inappbrowser="page52">
        <i class="icon ion-ios-person"></i>Å3 . . . . . 17-03-14</ion-item>
    </ion-list>
  </ion-content>
</ion-view>