<ion-view title="Färdig uppgift" id="page104">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h4 id="fRdigUppgift2-heading142" style="text-align:center;">Uppgift 2</h4>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <ion-list id="fRdigUppgift2-list39" class="manual-list-fullwidth">
      <ion-item class="item-icon-left" id="fRdigUppgift2-list-item164" ui-sref="menu.uppgift4()">
        <i class="icon ion-information-circled"></i>Uppgiftsbeskrivning</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <ion-list id="fRdigUppgift2-list40" class="manual-list-fullwidth">
      <ion-item class="item-icon-left" id="fRdigUppgift2-list-item166" ui-sref="menu.materialTillUppgift()">
        <i class="icon ion-ios-albums"></i>Material</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <ion-list id="fRdigUppgift2-list41" class="manual-list-fullwidth">
      <ion-item class="item-icon-left" id="fRdigUppgift2-list-item167" ui-sref="menu.meddelanden3()">
        <i class="icon ion-android-notifications-none"></i>Meddelanden</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <ion-list id="fRdigUppgift2-list42" class="manual-list-fullwidth">
      <ion-item class="item-icon-left" id="fRdigUppgift2-list-item168" ui-sref="menu.grupper()">
        <i class="icon ion-person-stalker"></i>Din grupp</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <ion-list id="fRdigUppgift2-list43" class="manual-list-fullwidth">
      <ion-item class="item-icon-left" id="fRdigUppgift2-list-item169" ui-sref="menu.grupper()">
        <i class="icon ion-ios-eye"></i>Inskickad uppgift</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <ion-list id="fRdigUppgift2-list44" class="manual-list-fullwidth">
      <ion-item class="item-icon-left" id="fRdigUppgift2-list-item170" href-inappbrowser="page76">
        <i class="icon ion-ios-people"></i>Återkoppling</ion-item>
    </ion-list>
    <ion-list id="fRdigUppgift2-list50">
      <ion-item class="item-icon-left" id="fRdigUppgift2-list-item171" ui-sref="menu.Terkoppling1U2()">
        <i class="icon ion-ios-person"></i>Å1 . . . . . 17-06-10</ion-item>
      <ion-item class="item-icon-left" id="fRdigUppgift2-list-item172" href-inappbrowser="page51">
        <i class="icon ion-ios-person"></i>Å2 . . . . . 17-06-11</ion-item>
      <ion-item class="item-icon-left" id="fRdigUppgift2-list-item174" href-inappbrowser="page52">
        <i class="icon ion-ios-person"></i>Å3 . . . . . 17-06-11</ion-item>
    </ion-list>
  </ion-content>
</ion-view>