<ion-view title="Genomförd kurs (1)" id="page74">
  <ion-content padding="true" class="has-header">
    <h5 id="genomfRdKurs1-heading77" style="color:#E61515;text-align:center;">Kursnamn: En Annan Kurs</h5>
    <h5 id="genomfRdKurs1-heading79" style="color:#000000;">Kursbeskrivning</h5>
    <div id="genomfRdKurs1-markdown81" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Om du hade gått en annan kurs så hade kursbeskrivningen funnits här</p>
    </div>
    <div class="spacer" style="width: 300px; height: 25px;"></div>
    <a ui-sref="menu.avslutadeUppgifter()" id="genomfRdKurs1-button132" class="button button-positive button-block">Uppgifter</a>
  </ion-content>
</ion-view>