<ion-view title="Grupper" id="page21">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 36px;"></div>
    <ion-list id="grupper-list11">
      <ion-item class="item-avatar" id="grupper-list-item99">
        <h2>Deltagare 1</h2>
      </ion-item>
      <ion-item class="item-avatar" id="grupper-list-item100">
        <h2>Deltagare 2</h2>
      </ion-item>
      <ion-item class="item-avatar" id="grupper-list-item101">
        <h2>Deltagare 3</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>