<ion-view title="Hur göra?" id="page59">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 29px;"></div>
    <div id="hurGRa-markdown64" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Du kommer att få 6 frågor. Varje fråga har tre alternativ som innebär olika utvecklingsnivåer i din användning av STL-metoden. </p>

      <p style="color:#000000;">Nivå A = Jag har provat på detta</p>

      <p style="color:#000000;">Nivå B = Jag gör detta regelbundet</p>

      <p style="color:#000000;">Nivå C = Jag gör detta regelbundet, följer upp resultaten och använder dem för att utveckla mitt arbetssätt.</p>

      <p style="color:#000000;">Frågorna visas en och en. Om du svarar ”nej” på till exempel nivå 2 kommer du inte att få se frågan på nivå 3 utan går vidare till nästa fråga.</p>

      <p style="color:#000000;">De 6 frågorna handlar om</p>

      <ol>
        <li>uppgifter till eleverna,</li>
        <li>preview, checklistor och texttyper,</li>
        <li>skriftlig formativ bedömning,</li>
        <li>konsekvensanalyser, </li>
        <li>återkoppling till kritiska vänner,</li>
        <li>digitala verktyg,</li>
      </ol>
    </div>
    <div class="spacer" style="width: 300px; height: 13px;"></div>
    <div id="hurGRa-button-bar41" class="button-bar"></div>
  </ion-content>
</ion-view>