<ion-view title="Inskickad uppgift" id="page100">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <ion-list id="inskickadUppgift-list99">
      <ion-item class="item-divider" id="inskickadUppgift-list-item-divider19"> General</ion-item>
      <div class="item item-body" id="inskickadUppgift-list-item-container55"></div>
    </ion-list>
    <div id="inskickadUppgift-container2">
      <form id="inskickadUppgift-form12" class="list">
        <label class="item item-input" id="inskickadUppgift-input11">
          <span class="input-label">Område/moment:</span>
          <input type="text" placeholder="Some text here">
        </label>
        <label class="item item-input" id="inskickadUppgift-input12">
          <span class="input-label">Årskurs</span>
          <input type="text" placeholder="Some text here">
        </label>
        <label class="item item-input" id="inskickadUppgift-input13">
          <span class="input-label">Antal elever:</span>
          <input type="number" placeholder="15">
        </label>
        <label class="item item-input" id="inskickadUppgift-input54">
          <span class="input-label">Startdatum</span>
          <input type="text" placeholder="17-03-01">
        </label>
        <label class="item item-input" id="inskickadUppgift-input55">
          <span class="input-label">Slutdatum:</span>
          <input type="text" placeholder="17-06-01">
        </label>
        <ion-item class="item-divider" id="inskickadUppgift-list-item-divider35"> Innehåll</ion-item>
        <div class="item item-body" id="inskickadUppgift-list-item-container27">
          <div id="inskickadUppgift-markdown112" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Vilket syfte, utifrån Lgr 11, har jag med arbetsområdet?</p>
          </div>
        </div>
        <label class="item item-input" id="inskickadUppgift-input21">
          <input type="text" placeholder="Some text here!">
        </label>
        <div class="item item-body" id="inskickadUppgift-list-item-container30">
          <div id="inskickadUppgift-markdown114" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Vilka kunskapskrav, enligt Lgr 11 har jag valt ut att arbeta mot?</p>
          </div>
        </div>
        <label class="item item-input" id="inskickadUppgift-input22">
          <input type="text" placeholder="Write your text here!">
        </label>
      </form>
    </div>
    <form id="inskickadUppgift-form17" class="list">
      <ion-item class="item-divider" id="inskickadUppgift-list-item-divider36"> 1. Inspiration och förförståelse</ion-item>
      <div class="item item-body" id="inskickadUppgift-list-item-container31">
        <div id="inskickadUppgift-markdown117" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Så här arbetade jag med preview (grupp/enskilda elever)</p>
        </div>
      </div>
      <div id="inskickadUppgift-button-bar105" class="button-bar">
        <button id="inskickadUppgift-button101" ng-class="{'active': activeSection==1}" ng-click="changeSection(1)" class="button button-dark button-block">Ja</button>
        <button id="inskickadUppgift-button106" ng-class="{'active': activeSection==2}" ng-click="changeSection(2)" class="button button-positive button-block">Nej</button>
      </div>
      <div class="item item-body" id="inskickadUppgift-list-item-container32">
        <div id="inskickadUppgift-markdown145" ng-show="changeSection(1)" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Om du väljer Ja, kommentera ditt val</p>
        </div>
      </div>
      <label class="item item-input" id="inskickadUppgift-input23">
        <input type="text" placeholder="Write your text here!" ng-show="changeSection(1)">
      </label>
      <div class="item item-body" id="inskickadUppgift-list-item-container44">
        <div id="inskickadUppgift-markdown147" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Så här arbetade jag med inspiration/förförståelse</p>
        </div>
      </div>
      <label class="item item-input" id="inskickadUppgift-input28">
        <input type="text" placeholder="Write your text here!">
      </label>
      <ion-item class="item-divider" id="inskickadUppgift-list-item-divider37"> 2. Texttyp skrivstrategier</ion-item>
      <div class="item item-body" id="inskickadUppgift-list-item-container45">
        <div id="inskickadUppgift-markdown149" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Så här arbetade jag med texttyper/strategier</p>
        </div>
      </div>
      <label class="item item-input" id="inskickadUppgift-input30">
        <input type="text" placeholder="Write your text here!">
      </label>
      <ion-item class="item-divider" id="inskickadUppgift-list-item-divider39"> 3. Skrivande</ion-item>
      <div class="item item-body" id="inskickadUppgift-list-item-container46">
        <div id="inskickadUppgift-markdown163" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Hur formulerades uppgiften och i vilken media arbetade eleverna med uppgiften?</p>
        </div>
      </div>
      <label class="item item-input" id="inskickadUppgift-input31">
        <input type="text" placeholder="Write your text here!">
      </label>
      <label class="item item-select" id="inskickadUppgift-select9">
        <span class="input-label">Mediatyp</span>
        <select>
          <option>Media 1</option>
          <option>Media 2</option>
          <option>Media 3</option>
          <option>Media 4</option>
        </select>
      </label>
      <label class="item item-input" id="inskickadUppgift-input38">
        <span class="input-label">Annan mediatyp:</span>
        <input type="text" placeholder="">
      </label>
      <ion-item class="item-divider" id="inskickadUppgift-list-item-divider40"> 4. Publicering och återkoppling</ion-item>
      <div class="item item-body" id="inskickadUppgift-list-item-container47">
        <div id="inskickadUppgift-markdown165" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Beskriv återkopplingsarbetet?</p>
        </div>
      </div>
      <ion-checkbox id="inskickadUppgift-checkbox6">Eelev-elev</ion-checkbox>
      <ion-checkbox id="inskickadUppgift-checkbox7">Lärare-elev</ion-checkbox>
      <ion-checkbox id="inskickadUppgift-checkbox8">Elev-lärare</ion-checkbox>
      <div class="item item-body" id="inskickadUppgift-list-item-container48">
        <div id="inskickadUppgift-markdown166" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Beskriv återkopplingsarbetet?</p>
        </div>
      </div>
      <label class="item item-input" id="inskickadUppgift-input47">
        <input type="text" placeholder="Write your text here!">
      </label>
      <ion-item class="item-divider" id="inskickadUppgift-list-item-divider41"> 5. Bedömning</ion-item>
      <div class="item item-body" id="inskickadUppgift-list-item-container49">
        <div id="inskickadUppgift-markdown168" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">På vilket sätt gjordes bedömningen?</p>
        </div>
      </div>
      <label class="item item-input" id="inskickadUppgift-input48">
        <input type="text" placeholder="Write your text here!">
      </label>
      <ion-item class="item-divider" id="inskickadUppgift-list-item-divider42"> 6. Analys och reflektion</ion-item>
      <div class="item item-body" id="inskickadUppgift-list-item-container50">
        <div id="inskickadUppgift-markdown169" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Hur gick det?</p>
        </div>
      </div>
      <div id="inskickadUppgift-button-bar106" class="button-bar">
        <button id="inskickadUppgift-button108" class="button button-positive button-block icon ion-android-sad"></button>
        <button id="inskickadUppgift-button110" class="button button-positive button-block">2</button>
        <button id="inskickadUppgift-button117" class="button button-dark button-block">3</button>
        <button id="inskickadUppgift-button118" class="button button-positive button-block">4</button>
        <button id="inskickadUppgift-button119" class="button button-positive button-block icon ion-android-happy"></button>
      </div>
      <div class="item item-body" id="inskickadUppgift-list-item-container51">
        <div id="inskickadUppgift-markdown170" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Vilka aha- upplevelser gjorde jag?</p>
        </div>
      </div>
      <label class="item item-input" id="inskickadUppgift-input49">
        <input type="text" placeholder="Write your text here!">
      </label>
      <ion-item class="item-divider" id="inskickadUppgift-list-item-divider43"> 7. Konsekvenser/nya mål</ion-item>
      <div class="item item-body" id="inskickadUppgift-list-item-container52">
        <div id="inskickadUppgift-markdown171" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Vad lärde jag mig och vilka konsekvenser får det jag lärde mig i mitt vidare arbete?</p>
        </div>
      </div>
      <label class="item item-input" id="inskickadUppgift-input50">
        <span class="input-label">Bra erfarenhet:</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="inskickadUppgift-input51">
        <span class="input-label">Dålig erfarenhet:</span>
        <input type="text" placeholder="">
      </label>
      <div class="item item-body" id="inskickadUppgift-list-item-container53">
        <div id="inskickadUppgift-markdown172" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Lärd konsekvens</p>
        </div>
      </div>
      <label class="item item-input" id="inskickadUppgift-input52">
        <input type="text" placeholder="Write your text here!">
      </label>
      <div class="item item-body" id="inskickadUppgift-list-item-container54">
        <div id="inskickadUppgift-markdown173" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Vilket är mitt nästa mål i arbetet med eleverna?</p>
        </div>
      </div>
      <label class="item item-input" id="inskickadUppgift-input53">
        <input type="text" placeholder="Write your text here!">
      </label>
    </form>
    <form id="inskickadUppgift-form21" class="list">
      <div id="inskickadUppgift-button-bar107" class="button-bar"></div>
    </form>
  </ion-content>
</ion-view>