<ion-view title="Klart!" id="page48">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 33px;"></div>
    <div id="klart-markdown31" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Du har rapporterat din
        <strong>självbedömning - halvtid</strong>
      </p>
    </div>
    <div id="klart-button-bar23" class="button-bar">
      <a ui-sref="menu.sjLvbedMningKursstart()" id="klart-button59" class="button button-dark button-block">Se</a>
      <a href-inappbrowser="page49" id="klart-button62" class="button button-dark button-block">Redigera</a>
      <a href-inappbrowser="page13" id="klart-button60" class="button button-dark button-block">Stäng</a>
    </div>
  </ion-content>
</ion-view>