<ion-view title="Kursbeskrivning STL" id="page69">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 9px;"></div>
    <h4 id="kursbeskrivningSTL-heading137" style="color:#000000;text-align:center;">STL - Skriva sig till lärande</h4>
    <div class="spacer" style="width: 300px; height: 9px;"></div>
    <div id="kursbeskrivningSTL-markdown101" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Den pedagogiska modellen Skriva sig till lärande, STL, bygger på ett språkutvecklande arbetssätt där kontinuerlig social interaktion och samarbete mellan elever och lärare understödjs av digital teknik och digitala arenor. Denna kombination av pedagogik
        och teknik gör det möjligt för alla elever, oavsett eventuella läs- och skrivsvårigheter, att fullt ut delta i skriftliga samarbeten med sina klasskamrater tack vare de kompensatoriska möjligheter som tekniken ger. Skriva sig till lärande är väl
        förankrat i kunskapskraven i läroplanen.</p>

      <p style="color:#000000;">En forskningsstudie visar att Skriva sig till lärande förbättrar skolresultaten. Det ger även ökad likvärdighet mellan könen då pojkarnas prestationer vad gäller läs- och skrivutvecklingen ökar markant. Dessutom blir spridningen mellan elever lägre,
        då de lägst presterande eleverna når bättre resultat. </p>

      <p style="color:#000000;">Kursupplägg Kursens upplägg kommer att vara tre träffar på SKL och resterande sex träffar kommer att vara online här i Canvas. Alla träffar är obligatoriska. Efter varje träff kommer ni att få en uppgift att göra till nästa träff. Här i Canvas kommer
        kursledarna att kontinuerligt lägga upp nya moduler under kursens gång. Här kommer ni att tilldelas uppgifter. </p>
    </div>
  </ion-content>
</ion-view>