<ion-view title="Kurser" id="page67">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <ion-list id="kurser-list9" class="manual-list-fullwidth">
      <ion-item class="item-icon-left positive" id="kurser-list-item84" href-inappbrowser="page68">
        <i class="icon ion-ios-loop-strong"></i>Pågående</ion-item>
    </ion-list>
    <ion-list id="kurser-list45">
      <ion-item class="item-icon-right" id="kurser-list-item173" ui-sref="menu.pGEndeKurs()">STL. . . . . . 17-12-18
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 8px;"></div>
    <ion-list id="kurser-list46" class="manual-list-fullwidth">
      <ion-item class="item-icon-left positive" id="kurser-list-item85" ui-sref="menu.kursbeskrivningSTL()">
        <i class="icon ion-android-checkbox-outline"></i>Avslutade</ion-item>
    </ion-list>
    <ion-list id="kurser-list48">
      <ion-item class="item-icon-right" id="kurser-list-item177" ui-sref="menu.genomfRdKurs1()">En annan kurs . . . . . . 17-06-01
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="kurser-list-item181">En tredje kurs . . . . . . 17-02-02
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 8px;"></div>
    <ion-list id="kurser-list47" class="manual-list-fullwidth">
      <ion-item class="item-icon-left positive" id="kurser-list-item86" href-inappbrowser="page70">
        <i class="icon ion-android-calendar"></i>Kommande</ion-item>
      <ion-item id="kurser-list-item180">Du är inte anmäld till någon fler kurs</ion-item>
    </ion-list>
  </ion-content>
</ion-view>