<ion-view title="Login" id="page98">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="login-button-bar101" class="button-bar"></div>
    <div class="spacer" style="width: 300px; height: 58px;"></div>
    <form id="login-form18" class="list">
      <label class="item item-input" id="login-input8">
        <span class="input-label">Epost</span>
        <input type="text" placeholder="email">
      </label>
      <label class="item item-input" id="login-input9">
        <span class="input-label">Lösenord</span>
        <input type="password" placeholder="password">
      </label>
      <ion-checkbox id="login-checkbox5">Kom ihåg mig</ion-checkbox>
    </form>
    <div class="spacer" style="width: 300px; height: 35px;"></div>
    <a ui-sref="menu.startsida()" id="login-button131" class="button button-positive button-block">Log in</a>
  </ion-content>
</ion-view>