<ion-view title="Meddelanden" id="page61">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <div id="meddelanden-markdown33" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Klicka för att läsa</p>
    </div>
    <button id="meddelanden-button116" style="text-align:left;" class="button button-positive button-block">Hej, Jag är sjuk så jag kan inte lämna in min uppgift förrän nästa vecka. (Deltagare 14)</button>
    <button id="meddelanden-button127" style="text-align:left;" class="button button-positive button-block">Hej, jag kommer tyvärr att bli lite sen med min bedömning :-( (Deltagare 3)</button>
  </ion-content>
</ion-view>