<ion-view title="Meddelande 2" id="page66">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <div id="meddelande2-markdown88" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Från deltagare 34...17-11-03</p>
    </div>
    <button id="meddelande2-button137" style="text-align:left;" class="button button-positive button-block">Hej, jag är sjuk så jag kan tyvärr inte skicka min bedömning förrän nästa vecka</button>
  </ion-content>
</ion-view>