<ion-view title="Meddelanden" id="page75">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <ion-list id="meddelanden2-list19">
      <ion-item class="item-divider" id="meddelanden2-list-item-divider17"> Uppgift 3</ion-item>
      <div class="item item-body" id="meddelanden2-list-item-container23">
        <div id="meddelanden2-markdown106" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">(meddelande från läraren)</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <ion-list id="meddelanden2-list88">
      <ion-item class="item-divider" id="meddelanden2-list-item-divider18"> Ang. återkoppling</ion-item>
      <div class="item item-body" id="meddelanden2-list-item-container25">
        <div id="meddelanden2-markdown110" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Tänk på att skriva din återkoppling i tid. Den som har gjort uppgiften väntar ivrigt på dina kommentarer. Det har varit en hel del förseningar och jag har fått många frågor från personer som väntar på återkoppling</p>

          <p style="color:#000000;">/Pernilla</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>