<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-content padding="false" style="top:0px !important;" class="side-menu-left side-menu-gradient">
      <div class="spacer" style="width: 268px; height: 24px;"></div>
      <div class="profile-image">
        <img src="img/H8FwmHlxTJG8VSXHpFXo_person_icon_updated.jpg" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="menu-heading127" style="color:#FFFFFF;font-weight:300;text-align:center;">Ann-Sofie Anderson</h4>
      <div class="spacer" style="width: 268px; height: 16px;"></div>
      <ion-list id="menu-list1">
        <ion-item class="item-icon-left side-menu-item" id="menu-list-item1" ui-sref="menu.startsida()" menu-close="">
          <i class="icon ion-ionic"></i>Start</ion-item>
        <ion-item class="item-icon-left side-menu-item" id="menu-list-item2" ui-sref="menu.minProfil()" menu-close="">
          <i class="icon ion-person"></i>Min profil</ion-item>
        <ion-item class="item-icon-left side-menu-item" id="menu-list-item5" ui-sref="menu.kurser()" menu-close="">
          <i class="icon ion-ios-bookmarks"></i>Kurser</ion-item>
        <ion-item class="item-icon-left side-menu-item" id="menu-list-item3" ui-sref="menu.uppgifter()" menu-close="">
          <i class="icon ion-ios-book"></i>Uppgifter</ion-item>
        <ion-item class="item-icon-left side-menu-item" id="menu-list-item4" ui-sref="menu.Terkoppling()" menu-close="">
          <i class="icon ion-android-happy"></i>Återkoppling</ion-item>
        <ion-item class="item-icon-left side-menu-item" id="menu-list-item6" ui-sref="menu.vIktigaDatum()" menu-close="">
          <i class="icon ion-android-calendar"></i>Viktiga datum</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>