<ion-view title="Mina resultat" id="page6">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <ion-list id="minaResultat-list100" class="manual-list-fullwidth">
      <ion-item class="positive" id="minaResultat-list-item247">Uppgift 1</ion-item>
    </ion-list>
    <ion-list id="minaResultat-list103">
      <ion-item class="item-icon-right" id="minaResultat-list-item110">Inskickad
        <i class="icon ion-checkmark-circled"></i>
      </ion-item>
      <ion-item id="minaResultat-list-item121">Mottagen återkoppling
        <span class="item-note">3</span>
      </ion-item>
      <ion-item id="minaResultat-list-item111">Återkoppling skickad
        <span class="item-note">3</span>
      </ion-item>
      <ion-item id="minaResultat-list-item112">Resultat återkoppling (medel)
        <span class="item-note">4.0</span>
      </ion-item>
      <ion-item class="positive" id="minaResultat-list-item113">Uppgift 2</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <ion-list id="minaResultat-list109">
      <ion-item class="item-icon-right" id="minaResultat-list-item117">Inskickad
        <i class="icon ion-checkmark-circled"></i>
      </ion-item>
      <ion-item id="minaResultat-list-item122">Mottagen återkoppling
        <span class="item-note">3</span>
      </ion-item>
      <ion-item id="minaResultat-list-item129">Återkoppling skickad
        <span class="item-note">3</span>
      </ion-item>
      <ion-item id="minaResultat-list-item124">Resultat återkoppling
        <span class="item-note">3.0</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 19px;"></div>
    <ion-list id="minaResultat-list110" class="manual-list-fullwidth">
      <ion-item class="positive" id="minaResultat-list-item123">Uppgift 3</ion-item>
    </ion-list>
    <ion-list id="minaResultat-list112">
      <ion-item class="item-icon-right" id="minaResultat-list-item132">Inskickad
        <i class="icon ion-close-circled"></i>
      </ion-item>
      <ion-item id="minaResultat-list-item130">Mottagen återkoppling
        <span class="item-note">0</span>
      </ion-item>
      <ion-item id="minaResultat-list-item134">Återkoppling skickad
        <span class="item-note">2</span>
      </ion-item>
      <ion-item id="minaResultat-list-item133">Resultat återkoppling
        <span class="item-note">2,5</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 19px;"></div>
  </ion-content>
</ion-view>