<ion-view title="Mottagen återkoppling" id="page79">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="mottagenTerkoppling-button-bar51" class="button-bar"></div>
    <h4 id="mottagenTerkoppling-heading91" style="color:#CC2828;text-align:center;">Uppgift 1</h4>
    <h5 id="mottagenTerkoppling-heading92" style="color:#CC2828;text-align:center;">Återkoppling 2 - 05/10/2017</h5>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <h5 id="mottagenTerkoppling-heading93" style="color:#0E0D0D;">Mål</h5>
    <div id="mottagenTerkoppling-markdown95" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Här har en kollega beskrivit ditt arbete med koppling till målen.</p>
    </div>
    <h5 id="mottagenTerkoppling-heading94" style="color:#0E0D0D;">Budskap</h5>
    <div id="mottagenTerkoppling-markdown96" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Här har en kollega förklarat hur hen tycker att du genomfört uppgiften utifrån STL-modellen. Både det positiva och det mindre bra. </p>
    </div>
    <h5 id="mottagenTerkoppling-heading95" style="color:#0E0D0D;">Råd/förslag</h5>
    <div id="mottagenTerkoppling-markdown97" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Här har en kollega förklarat för dig vad som kan förbättras och/eller vara värt att fundera över. Viktigt att ge tydliga, "handlingsbara" råd.</p>
    </div>
    <h5 id="mottagenTerkoppling-heading96" style="color:#0E0D0D;">Kommentarer</h5>
    <div id="mottagenTerkoppling-markdown98" class="show-list-numbers-and-dots">
      <p style="color:#000000;">(inga kommentarer)</p>
    </div>
    <a href-inappbrowser="page10" id="mottagenTerkoppling-button141" class="button button-positive button-block">View Your Rating!</a>
  </ion-content>
</ion-view>