<ion-view title="Pågående kurs" id="page71">
  <ion-content padding="true" class="has-header">
    <h4 id="pGEndeKurs-heading25" style="color:#E61B1B;text-align:center;">STL</h4>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <ion-list id="pGEndeKurs-list49">
      <ion-item class="item-icon-left item-icon-right" id="pGEndeKurs-list-item185" ui-sref="menu.kursbeskrivningSTL()">
        <i class="icon ion-information-circled"></i>Kursbeskrivning
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <ion-list id="pGEndeKurs-list79">
      <ion-item class="item-icon-left" id="pGEndeKurs-list-item187">
        <i class="icon ion-speakerphone"></i>Meddelanden</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <ion-list id="pGEndeKurs-list78">
      <ion-item class="item-icon-left" id="pGEndeKurs-list-item186">
        <i class="icon ion-ios-albums"></i>Kursmaterial</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <ion-list id="pGEndeKurs-list77">
      <ion-item class="item-icon-left item-icon-right" id="pGEndeKurs-list-item188" ui-sref="menu.pGEnde()">
        <i class="icon ion-ios-albums-outline"></i>Uppgifter
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>