<ion-view title="Pågående" id="page14">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h4 id="pGEnde-heading78" style="font-weight:600;text-align:center;">Uppgift 4</h4>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h4 id="pGEnde-heading132" style="color:#F91021;font-weight:600;">Deadline: 2017-12-13</h4>
    <ion-list id="pGEnde-list7">
      <ion-item class="item-icon-left item-icon-right dark" id="pGEnde-list-item33" ui-sref="menu.uppgift4()">
        <i class="icon ion-information-circled"></i>Se uppgift
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-left dark" id="pGEnde-list-item35">
        <i class="icon ion-ios-albums"></i>Material</ion-item>
      <ion-item class="item-icon-left item-icon-right dark" id="pGEnde-list-item36" ui-sref="menu.meddelanden2()">
        <i class="icon ion-speakerphone"></i>Meddelanden
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-left dark" id="pGEnde-list-item37" ui-sref="menu.grupper()">
        <i class="icon ion-ios-people"></i>Din grupp</ion-item>
      <ion-item class="item-icon-left item-icon-right" id="pGEnde-list-item34" ui-sref="menu.rapporteraUppgift()">
        <i class="icon ion-ios-compose"></i>Skicka uppgift
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-left" id="pGEnde-list-item106">
        <i class="icon ion-android-happy"></i>Återkoppling</ion-item>
    </ion-list>
    <a ui-sref="menu.skickaMeddelande()" id="pGEnde-button107" style="text-align:left;" class="button button-positive button-block">Skicka meddelande</a>
  </ion-content>
</ion-view>