<ion-view title="Rapportera uppgift" id="page17">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h4 id="rapporteraUppgift-heading53" style="color:#F20C0C;text-align:center;">Rapportera uppgift 1</h4>
    <ion-list id="rapporteraUppgift-list105">
      <ion-item class="item-divider" id="rapporteraUppgift-list-item-divider9"> Situation</ion-item>
    </ion-list>
    <div id="rapporteraUppgift-container1">
      <form id="rapporteraUppgift-form14" class="list">
        <label class="item item-input" id="rapporteraUppgift-input3">
          <span class="input-label">Område/moment:</span>
          <input type="text" placeholder="skriv här">
        </label>
        <label class="item item-input" id="rapporteraUppgift-input4">
          <span class="input-label">Årskurs</span>
          <input type="text" placeholder="skriv här">
        </label>
        <label class="item item-input" id="rapporteraUppgift-input5">
          <span class="input-label">Antal elever:</span>
          <input type="number" placeholder="">
        </label>
        <label class="item item-input" id="rapporteraUppgift-input6">
          <span class="input-label">Startdatum:</span>
          <input type="date" placeholder="">
        </label>
        <label class="item item-input" id="rapporteraUppgift-input7">
          <span class="input-label">Slutdatum:</span>
          <input type="date" placeholder="">
        </label>
        <div class="spacer" style="width: 300px; height: 17px;"></div>
        <ion-item class="item-divider" id="rapporteraUppgift-list-item-divider44"> Mål</ion-item>
        <div class="item item-body" id="rapporteraUppgift-list-item-container3">
          <div id="rapporteraUppgift-markdown86" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Vilket syfte, utifrån Lgr 11, har jag med arbetsområdet?</p>
          </div>
        </div>
        <label class="item item-input" id="rapporteraUppgift-input32">
          <input type="text" placeholder="Skriv här">
        </label>
        <div class="item item-body" id="rapporteraUppgift-list-item-container4">
          <div id="rapporteraUppgift-markdown87" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Vilka kunskapskrav, enligt Lgr 11 har jag valt ut att arbeta mot?</p>
          </div>
        </div>
        <label class="item item-input" id="rapporteraUppgift-input29">
          <input type="text" placeholder="Skriv här">
        </label>
      </form>
    </div>
    <form id="rapporteraUppgift-form15" class="list">
      <ion-item class="item-divider" id="rapporteraUppgift-list-item-divider1"> 1. Inspiration och förförståelse</ion-item>
      <div class="item item-body" id="rapporteraUppgift-list-item-container12">
        <div id="rapporteraUppgift-markdown115" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Så här arbetade jag med preview (grupp/enskilda elever)</p>
        </div>
      </div>
      <div id="rapporteraUppgift-button-bar100" class="button-bar">
        <button id="rapporteraUppgift-button297" ng-class="{'active': activeSection==1}" ng-click="changeSection(1)" class="button button-positive button-block">Ja</button>
        <button id="rapporteraUppgift-button298" ng-class="{'active': activeSection==2}" ng-click="changeSection(2)" class="button button-positive button-block">Nej</button>
      </div>
      <div class="item item-body" id="rapporteraUppgift-list-item-container10">
        <div id="rapporteraUppgift-markdown111" ng-show="changeSection(1)" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Om du valt Ja, kommentera ditt val</p>
        </div>
      </div>
      <label class="item item-input" id="rapporteraUppgift-input33">
        <input type="text" placeholder="Skriv här" ng-show="changeSection(1)">
      </label>
      <div class="item item-body" id="rapporteraUppgift-list-item-container11">
        <div id="rapporteraUppgift-markdown113" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Så här arbetade jag med inspiration/förförståelse</p>
        </div>
      </div>
      <label class="item item-input" id="rapporteraUppgift-input34">
        <input type="text" placeholder="Skriv här">
      </label>
      <ion-item class="item-divider" id="rapporteraUppgift-list-item-divider10"> 2. Texttyp skrivstrategier</ion-item>
      <div class="item item-body" id="rapporteraUppgift-list-item-container13">
        <div id="rapporteraUppgift-markdown116" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Så här arbetade jag med texttyper/strategier</p>
        </div>
      </div>
      <label class="item item-input" id="rapporteraUppgift-input35">
        <input type="text" placeholder="Skriv här">
      </label>
      <ion-item class="item-divider" id="rapporteraUppgift-list-item-divider11"> 3. Skrivande</ion-item>
      <div class="item item-body" id="rapporteraUppgift-list-item-container14">
        <div id="rapporteraUppgift-markdown118" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Hur formulerades uppgiften och i vilken media arbetade eleverna med uppgiften?</p>
        </div>
      </div>
      <label class="item item-input" id="rapporteraUppgift-input36">
        <input type="text" placeholder="Skriv här">
      </label>
      <label class="item item-select" id="rapporteraUppgift-select22">
        <span class="input-label">Mediatyp</span>
        <select>
          <option>Google apps</option>
          <option>O365</option>
          <option>Eget LMS</option>
          <option>Annat</option>
        </select>
      </label>
      <label class="item item-input" id="rapporteraUppgift-input37">
        <span class="input-label">Annan mediatyp:</span>
        <input type="text" placeholder="">
      </label>
      <ion-item class="item-divider" id="rapporteraUppgift-list-item-divider12"> 4. Publicering och återkoppling</ion-item>
      <div class="item item-body" id="rapporteraUppgift-list-item-container15">
        <div id="rapporteraUppgift-markdown120" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Återkoppling förekom mellan...</p>
        </div>
      </div>
      <ion-checkbox id="rapporteraUppgift-checkbox2">Eelev-elev</ion-checkbox>
      <ion-checkbox id="rapporteraUppgift-checkbox3">Lärare-elev</ion-checkbox>
      <ion-checkbox id="rapporteraUppgift-checkbox4">Elev-lärare</ion-checkbox>
      <div class="item item-body" id="rapporteraUppgift-list-item-container16">
        <div id="rapporteraUppgift-markdown121" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Beskriv återkopplingsarbetet</p>
        </div>
      </div>
      <label class="item item-input" id="rapporteraUppgift-input39">
        <input type="text" placeholder="Skriv här">
      </label>
      <ion-item class="item-divider" id="rapporteraUppgift-list-item-divider13"> 5. Bedömning</ion-item>
      <div class="item item-body" id="rapporteraUppgift-list-item-container17">
        <div id="rapporteraUppgift-markdown124" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">På vilket sätt gjordes bedömningen?</p>
        </div>
      </div>
      <label class="item item-input" id="rapporteraUppgift-input40">
        <input type="text" placeholder="Skriv här">
      </label>
      <ion-item class="item-divider" id="rapporteraUppgift-list-item-divider14"> 6. Analys och reflektion</ion-item>
      <div class="item item-body" id="rapporteraUppgift-list-item-container18">
        <div id="rapporteraUppgift-markdown126" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Hur gick det?</p>
        </div>
      </div>
      <div id="rapporteraUppgift-button-bar56" class="button-bar">
        <button id="rapporteraUppgift-button169" class="button button-positive button-block icon ion-android-sad"></button>
        <button id="rapporteraUppgift-button170" class="button button-positive button-block">2</button>
        <button id="rapporteraUppgift-button171" class="button button-positive button-block">3</button>
        <button id="rapporteraUppgift-button172" class="button button-positive button-block">4</button>
        <button id="rapporteraUppgift-button173" class="button button-positive button-block icon ion-android-happy"></button>
      </div>
      <div class="item item-body" id="rapporteraUppgift-list-item-container19">
        <div id="rapporteraUppgift-markdown128" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Vilka aha- upplevelser gjorde jag?</p>
        </div>
      </div>
      <label class="item item-input" id="rapporteraUppgift-input41">
        <input type="text" placeholder="Skriv här">
      </label>
      <ion-item class="item-divider" id="rapporteraUppgift-list-item-divider15"> 7. Konsekvenser/nya mål</ion-item>
      <div class="item item-body" id="rapporteraUppgift-list-item-container20">
        <div id="rapporteraUppgift-markdown129" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Vad lärde jag mig och vilka konsekvenser får det jag lärde mig i mitt vidare arbete?</p>
        </div>
      </div>
      <label class="item item-input" id="rapporteraUppgift-input42">
        <span class="input-label">Bra erfarenhet:</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="rapporteraUppgift-input43">
        <span class="input-label">Dålig erfarenhet:</span>
        <input type="text" placeholder="">
      </label>
      <div class="item item-body" id="rapporteraUppgift-list-item-container21">
        <div id="rapporteraUppgift-markdown131" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Lärd konsekvens</p>
        </div>
      </div>
      <label class="item item-input" id="rapporteraUppgift-input44">
        <input type="text" placeholder="Skriv här">
      </label>
      <div class="item item-body" id="rapporteraUppgift-list-item-container22">
        <div id="rapporteraUppgift-markdown132" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Vilket är mitt nästa mål i arbetet med eleverna?</p>
        </div>
      </div>
      <label class="item item-input" id="rapporteraUppgift-input45">
        <input type="text" placeholder="Skriv här">
      </label>
    </form>
    <form id="rapporteraUppgift-form3" class="list">
      <a ui-sref="menu.pGEnde()" id="rapporteraUppgift-button115" class="button button-positive button-block">Spara</a>
      <a ui-sref="menu.pGEnde()" id="rapporteraUppgift-button134" ng-click="showAlert()" class="button button-positive button-block">Spara och skicka in</a>
      <div id="rapporteraUppgift-button-bar48" class="button-bar"></div>
    </form>
  </ion-content>
</ion-view>