<ion-view title="Självbedömning" id="page41">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h4 id="sjLvbedMning2-heading8" style="color:#050505;text-align:center;">Fråga 3/18</h4>
    <div class="spacer" style="width: 300px; height: 34px;"></div>
    <div id="sjLvbedMning2-markdown24" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Jag formulerar och använder mig av uppgifter vars syfte är att eleverna ska återkoppla skriftligt samt formativt till varandra Jag ser även hur
        <strong>elevernas förmåga att formativt återkoppla till varandra har utvecklats</strong>.</p>
    </div>
    <div id="sjLvbedMning2-button-bar16" class="button-bar">
      <a ui-sref="menu.sjLvbedMningHalvtid2()" id="sjLvbedMning2-button42" class="button button-dark button-block">Ja</a>
      <a ui-sref="menu.sjLvbedMningHalvtid2()" id="sjLvbedMning2-button43" class="button button-dark button-block">Nej</a>
    </div>
  </ion-content>
</ion-view>