<ion-view title="Självbedömning - halvtid" id="page22">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h4 id="sjLvbedMningHalvtid2-heading9" style="color:#050505;text-align:center;">Fråga 4/18</h4>
    <div class="spacer" style="width: 300px; height: 37px;"></div>
    <div id="sjLvbedMningHalvtid2-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Jag har provat att ge eleverna skriftlig, formativ bedömning, kopplat till syfte/mål/ kunskapskrav i arbetsområdet i analysmallen.</p>
    </div>
    <div id="sjLvbedMningHalvtid2-button-bar3" class="button-bar">
      <a ui-sref="menu.sjLvbedMningHalvtid3()" id="sjLvbedMningHalvtid2-button20" class="button button-dark button-block">Ja</a>
      <a ui-sref="menu.sjLvbedMningHalvtid5()" id="sjLvbedMningHalvtid2-button21" class="button button-dark button-block">Nej</a>
    </div>
  </ion-content>
</ion-view>