<ion-view title="Självbedömning - halvtid" id="page47">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h4 id="sjLvbedMningHalvtid16-heading16" style="color:#050505;text-align:center;">Fråga 18/18</h4>
    <div class="spacer" style="width: 300px; height: 41px;"></div>
    <div id="sjLvbedMningHalvtid16-markdown30" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Jag
        <strong>integrerar ämnesövergripande olika digitala verktyg</strong> och olika
        <strong>digitala webbresurser</strong> för att
        <strong>skapa uppgifter</strong> som bidragit till ett
        <strong>synligt lärande</strong> och
        <strong>ökad kommunikation mellan eleverna</strong> vilket också
        <strong>resulterar</strong> i en
        <strong>ökad förmåga</strong> hos eleverna att
        <strong>formativt skriftligt återkoppla</strong> till varandra. Detta
        <strong>synliggörs med flera exempel</strong> på min site/blogg.</p>
    </div>
    <div id="sjLvbedMningHalvtid16-button-bar22" class="button-bar">
      <a ui-sref="menu.klart()" id="sjLvbedMningHalvtid16-button54" class="button button-dark button-block">Ja</a>
      <a ui-sref="menu.klart()" id="sjLvbedMningHalvtid16-button55" class="button button-dark button-block">Nej</a>
    </div>
  </ion-content>
</ion-view>