<ion-view title="Självbedömning - halvtid" id="page34">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h4 id="sjLvbedMningHalvtid5-heading12" style="color:#050505;text-align:center;">Fråga 7/18</h4>
    <div class="spacer" style="width: 300px; height: 41px;"></div>
    <div id="sjLvbedMningHalvtid5-markdown16" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Jag har
        <strong>provat</strong> att använda mig av något av preview, checklistor eller texttyper.</p>
    </div>
    <div id="sjLvbedMningHalvtid5-button-bar9" class="button-bar">
      <a ui-sref="menu.sjLvbedMningHalvtid6()" id="sjLvbedMningHalvtid5-button25" class="button button-dark button-block">Ja</a>
      <a ui-sref="menu.sjLvbedMningHalvtid8()" id="sjLvbedMningHalvtid5-button28" class="button button-dark button-block">Nej</a>
    </div>
  </ion-content>
</ion-view>