<ion-view title="Självbedömning - halvtid" id="page19">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.hurGRa()" id="sjLvbedMningHalvtid-button104" class="button button-positive button-block">Hur göra?</a>
    <h4 id="sjLvbedMningHalvtid-heading6" style="color:#050505;text-align:center;">Fråga 1/18</h4>
    <div class="spacer" style="width: 300px; height: 13px;"></div>
    <div id="sjLvbedMningHalvtid-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Jag formulerar och använder mig av uppgifter vars syfte är att
        <strong>eleverna ska återkoppla skriftligt</strong> till varandra.</p>
    </div>
    <div id="sjLvbedMningHalvtid-button-bar2" class="button-bar">
      <a ui-sref="menu.sjLvbedMning()" id="sjLvbedMningHalvtid-button14" class="button button-dark button-block">Ja</a>
      <a ui-sref="menu.sjLvbedMningHalvtid2()" id="sjLvbedMningHalvtid-button15" class="button button-dark button-block">Nej</a>
    </div>
  </ion-content>
</ion-view>