<ion-view title="Självbedömning - kursstart" id="page31">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 19px;"></div>
    <div id="sjLvbedMningKursstart-button-bar6" class="button-bar"></div>
    <div id="sjLvbedMningKursstart-markdown32" class="show-list-numbers-and-dots">
      <p style="color:#070707;">
        <strong>1A</strong>: Jag formulerar och använder mig av uppgifter vars syfte är att
        <strong>eleverna ska återkoppla skriftligt</strong> till varandra.</p>
    </div>
    <div id="sjLvbedMningKursstart-button-bar24" class="button-bar">
      <button id="sjLvbedMningKursstart-button66" class="button button-dark button-block">Ja</button>
      <button id="sjLvbedMningKursstart-button67" class="button button-stable button-block button-outline">Nej</button>
    </div>
    <div id="sjLvbedMningKursstart-markdown34" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>1B</strong>: Jag formulerar och använder mig av uppgifter vars syfte är att eleverna ska återkoppla skriftligt
        <strong>samt formativt</strong> till varandra.</p>
    </div>
    <div id="sjLvbedMningKursstart-button-bar25" class="button-bar">
      <button id="sjLvbedMningKursstart-button69" class="button button-stable button-block button-outline">Ja</button>
      <button id="sjLvbedMningKursstart-button70" class="button button-dark button-block">Nej</button>
    </div>
    <div id="sjLvbedMningKursstart-markdown35" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>2A</strong>: Jag har provat att ge eleverna skriftlig, formativ bedömning, kopplat till syfte/mål/ kunskapskrav i arbetsområdet i analysmallen.</p>
    </div>
    <div id="sjLvbedMningKursstart-button-bar26" class="button-bar">
      <button id="sjLvbedMningKursstart-button71" class="button button-dark button-block">Ja</button>
      <button id="sjLvbedMningKursstart-button72" class="button button-stable button-block button-outline">Nej</button>
    </div>
    <div id="sjLvbedMningKursstart-markdown36" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>3A</strong>: Jag har
        <strong>provat</strong> att använda mig av något av preview, checklistor eller texttyper.</p>
    </div>
    <div id="sjLvbedMningKursstart-button-bar27" class="button-bar">
      <button id="sjLvbedMningKursstart-button73" class="button button-dark button-block">Ja</button>
      <button id="sjLvbedMningKursstart-button74" class="button button-stable button-block button-outline">Nej</button>
    </div>
    <div id="sjLvbedMningKursstart-markdown37" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>3B</strong>: Jag använder mig
        <strong>kontinuerligt</strong> av något av preview, checklistor och texttyper.</p>
    </div>
    <div id="sjLvbedMningKursstart-button-bar28" class="button-bar">
      <button id="sjLvbedMningKursstart-button75" class="button button-dark button-block">Ja</button>
      <button id="sjLvbedMningKursstart-button76" class="button button-stable button-block button-outline">Nej</button>
    </div>
    <div id="sjLvbedMningKursstart-markdown38" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>3C</strong>: Jag använder mig kontinuerligt av något av preview, checklistor och texttyper</p>

      <p style="color:#000000;">Jag ser även
        <strong>hur detta gynnar elevernas kunskapsutveckling</strong>.</p>
    </div>
    <div id="sjLvbedMningKursstart-button-bar29" class="button-bar">
      <button id="sjLvbedMningKursstart-button77" class="button button-stable button-block button-outline">Ja</button>
      <button id="sjLvbedMningKursstart-button78" class="button button-dark button-block">Nej</button>
    </div>
    <div id="sjLvbedMningKursstart-markdown39" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>4A</strong>: Jag
        <strong>har försökt</strong> skriva konsekvensanalyser i mina analysmallar.</p>
    </div>
    <div id="sjLvbedMningKursstart-button-bar30" class="button-bar">
      <button id="sjLvbedMningKursstart-button79" class="button button-stable button-block button-outline">Ja</button>
      <button id="sjLvbedMningKursstart-button80" class="button button-dark button-block">Nej</button>
    </div>
    <div id="sjLvbedMningKursstart-markdown40" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>5A</strong>: Jag
        <strong>integrerar olika digitala verktyg</strong> och olika
        <strong>digitala webbresurser</strong> för att skapa uppgifter som bidrar till ett synligt lärande och ökad kommunikation mellan eleverna synliggörs med flera exempel på min site/blogg.</p>
    </div>
    <div id="sjLvbedMningKursstart-button-bar32" class="button-bar">
      <button id="sjLvbedMningKursstart-button86" class="button button-dark button-block">Ja</button>
      <button id="sjLvbedMningKursstart-button87" class="button button-stable button-block button-outline">Nej</button>
    </div>
    <div id="sjLvbedMningKursstart-markdown41" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>5B</strong>: Jag har låtit eleverna använda dator/lärplatta som ett skrivverktyg samt synliggjort deras lärande för att kommunicera med varandra (i t ex Google Drive, Sites eller liknande).</p>
    </div>
    <div id="sjLvbedMningKursstart-button-bar33" class="button-bar">
      <button id="sjLvbedMningKursstart-button88" class="button button-stable button-block button-outline">Ja</button>
      <button id="sjLvbedMningKursstart-button89" class="button button-dark button-block">Nej</button>
    </div>
    <div id="sjLvbedMningKursstart-markdown42" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>6A</strong>: Jag har låtit eleverna använda dator/lärplatta som ett skrivverktyg samt synliggjort deras lärande för att kommunicera med varandra (i t ex Google Drive, Sites eller liknande).</p>
    </div>
    <div id="sjLvbedMningKursstart-button-bar34" class="button-bar">
      <button id="sjLvbedMningKursstart-button90" class="button button-stable button-block button-outline">Ja</button>
      <button id="sjLvbedMningKursstart-button91" class="button button-dark button-block">Nej</button>
    </div>
    <div id="sjLvbedMningKursstart-button-bar49" class="button-bar">
      <a ui-sref="menu.redigeraBedMning()" id="sjLvbedMningKursstart-button109" class="button button-positive button-block">Edit</a>
    </div>
  </ion-content>
</ion-view>