<ion-view title="Självbedömning - halvtid" id="page45">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h4 id="sjLvbedMningHalvtid14-heading18" style="color:#050505;text-align:center;">Fråga 16/18</h4>
    <div class="spacer" style="width: 300px; height: 41px;"></div>
    <div id="sjLvbedMningHalvtid14-markdown28" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Jag har låtit eleverna använda dator/lärplatta som ett skrivverktyg samt synliggjort deras lärande för att kommunicera med varandra (i t ex Google Drive, Sites eller liknande).</p>
    </div>
    <div id="sjLvbedMningHalvtid14-button-bar20" class="button-bar">
      <a ui-sref="menu.sjLvbedMningHalvtid15()" id="sjLvbedMningHalvtid14-button50" class="button button-dark button-block">Ja</a>
      <a ui-sref="menu.klart()" id="sjLvbedMningHalvtid14-button51" class="button button-dark button-block">Nej</a>
    </div>
  </ion-content>
</ion-view>