<ion-view title="Självbedömning - halvtid" id="page44">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h4 id="sjLvbedMningHalvtid13-heading19" style="color:#050505;text-align:center;">Fråga 15/18</h4>
    <div class="spacer" style="width: 300px; height: 41px;"></div>
    <div id="sjLvbedMningHalvtid13-markdown27" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Jag återkopplar formativt till mina kritiska vänner genom att
        <strong>koppla analysens syfte till resultat samt för en framåtsyftande diskussion kring utveckling</strong> av undervisningen.</p>
    </div>
    <div id="sjLvbedMningHalvtid13-button-bar19" class="button-bar">
      <a ui-sref="menu.sjLvbedMningHalvtid14()" id="sjLvbedMningHalvtid13-button48" class="button button-dark button-block">Ja</a>
      <a ui-sref="menu.sjLvbedMningHalvtid14()" id="sjLvbedMningHalvtid13-button49" class="button button-dark button-block">Nej</a>
    </div>
  </ion-content>
</ion-view>