<ion-view title="Självbedömning - halvtid" id="page33">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h4 id="sjLvbedMningHalvtid4-heading11" style="color:#050505;text-align:center;">Fråga 6/18</h4>
    <div class="spacer" style="width: 300px; height: 41px;"></div>
    <div id="sjLvbedMningHalvtid4-markdown15" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Jag ger kontinuerligt eleverna skriftlig och formativ bedömning, kopplat till syfte/mål/ kunskapskrav i arbetsområdet i analysmallen. Jag ser även
        <strong>hur min formativa bedömning ökar elevernas kunskapsutveckling</strong>.</p>
    </div>
    <div id="sjLvbedMningHalvtid4-button-bar8" class="button-bar">
      <a ui-sref="menu.sjLvbedMningHalvtid5()" id="sjLvbedMningHalvtid4-button23" class="button button-dark button-block">Ja</a>
      <a ui-sref="menu.sjLvbedMningHalvtid5()" id="sjLvbedMningHalvtid4-button24" class="button button-dark button-block">Nej</a>
    </div>
  </ion-content>
</ion-view>