<ion-view title="Självbedömning - halvtid" id="page39">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h4 id="sjLvbedMningHalvtid10-heading22" style="color:#050505;text-align:center;">Fråga 12/18</h4>
    <div class="spacer" style="width: 300px; height: 41px;"></div>
    <div id="sjLvbedMningHalvtid10-markdown21" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Jag
        <strong>skriver</strong> konsekvensanalyser i mina analysmallar.</p>

      <p style="color:#000000;">Jag
        <strong>använder mig av resultatet av min konsekvensanalys</strong> i planeringen av min fortsatta undervisning.</p>
    </div>
    <div id="sjLvbedMningHalvtid10-button-bar14" class="button-bar">
      <a ui-sref="menu.sjLvbedMningHalvtid11()" id="sjLvbedMningHalvtid10-button38" class="button button-dark button-block">Ja</a>
      <a ui-sref="menu.sjLvbedMningHalvtid11()" id="sjLvbedMningHalvtid10-button39" class="button button-dark button-block">Nej</a>
    </div>
  </ion-content>
</ion-view>