<ion-view title="Självbedömning - halvtid" id="page32">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h4 id="sjLvbedMningHalvtid3-heading10" style="color:#050505;text-align:center;">Fråga 5/18</h4>
    <div class="spacer" style="width: 300px; height: 41px;"></div>
    <div id="sjLvbedMningHalvtid3-markdown14" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Jag
        <strong>ger kontinuerligt</strong> eleverna skriftlig och formativ bedömning, kopplat till syfte/mål/ kunskapskrav i arbetsområdet i analysmallen.</p>
    </div>
    <div id="sjLvbedMningHalvtid3-button-bar7" class="button-bar">
      <a ui-sref="menu.sjLvbedMningHalvtid4()" id="sjLvbedMningHalvtid3-button19" class="button button-dark button-block">Ja</a>
      <a ui-sref="menu.sjLvbedMningHalvtid5()" id="sjLvbedMningHalvtid3-button22" class="button button-dark button-block">Nej</a>
    </div>
  </ion-content>
</ion-view>