<ion-view title="Självbedömning " id="page40">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h4 id="sjLvbedMning-heading7" style="color:#050505;text-align:center;">Fråga 2/18</h4>
    <div class="spacer" style="width: 300px; height: 45px;"></div>
    <div id="sjLvbedMning-markdown23" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Jag formulerar och använder mig av uppgifter vars syfte är att eleverna ska återkoppla skriftligt
        <strong>samt formativt</strong> till varandra.</p>
    </div>
    <div id="sjLvbedMning-button-bar15" class="button-bar">
      <a ui-sref="menu.sjLvbedMning2()" id="sjLvbedMning-button40" class="button button-dark button-block">Ja</a>
      <a ui-sref="menu.sjLvbedMningHalvtid2()" id="sjLvbedMning-button41" class="button button-dark button-block">Nej</a>
    </div>
  </ion-content>
</ion-view>