<ion-view title="Självbedömning - halvtid" id="page46">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h4 id="sjLvbedMningHalvtid15-heading17" style="color:#050505;text-align:center;">Fråga 17/18</h4>
    <div class="spacer" style="width: 300px; height: 41px;"></div>
    <div id="sjLvbedMningHalvtid15-markdown29" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Jag
        <strong>integrerar olika digitala verktyg</strong> och olika
        <strong>digitala webbresurser</strong> för att skapa uppgifter som bidrar till ett synligt lärande och ökad kommunikation mellan eleverna synliggörs med flera exempel på min site/blogg.</p>
    </div>
    <div id="sjLvbedMningHalvtid15-button-bar21" class="button-bar">
      <a ui-sref="menu.sjLvbedMningHalvtid16()" id="sjLvbedMningHalvtid15-button52" class="button button-dark button-block">Ja</a>
      <a ui-sref="menu.klart()" id="sjLvbedMningHalvtid15-button53" class="button button-dark button-block">Nej</a>
    </div>
  </ion-content>
</ion-view>