<ion-view title="Självbedömning - halvtid" id="page42">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h4 id="sjLvbedMningHalvtid11-heading21" style="color:#050505;text-align:center;">Fråga 13/18</h4>
    <div class="spacer" style="width: 300px; height: 41px;"></div>
    <div id="sjLvbedMningHalvtid11-markdown25" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Jag
        <strong>har försökt</strong> återkoppla till mina kritiska vänner men tycker att det är svårt.</p>
    </div>
    <div id="sjLvbedMningHalvtid11-button-bar17" class="button-bar">
      <a ui-sref="menu.sjLvbedMningHalvtid12()" id="sjLvbedMningHalvtid11-button44" class="button button-dark button-block">Ja</a>
      <a ui-sref="menu.sjLvbedMningHalvtid14()" id="sjLvbedMningHalvtid11-button45" class="button button-dark button-block">Nej</a>
    </div>
  </ion-content>
</ion-view>