<ion-view title="Självbedömning - halvtid" id="page36">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h4 id="sjLvbedMningHalvtid7-heading14" style="color:#050505;text-align:center;">Fråga 9/18</h4>
    <div class="spacer" style="width: 300px; height: 41px;"></div>
    <div id="sjLvbedMningHalvtid7-markdown18" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Jag använder mig kontinuerligt av något av preview, checklistor och texttyper</p>

      <p style="color:#000000;">Jag ser även
        <strong>hur detta gynnar elevernas kunskapsutveckling</strong>.</p>
    </div>
    <div id="sjLvbedMningHalvtid7-button-bar11" class="button-bar">
      <a ui-sref="menu.sjLvbedMningHalvtid8()" id="sjLvbedMningHalvtid7-button31" class="button button-dark button-block">Ja</a>
      <a ui-sref="menu.sjLvbedMningHalvtid8()" id="sjLvbedMningHalvtid7-button32" class="button button-dark button-block">Nej</a>
    </div>
  </ion-content>
</ion-view>