<ion-view title="Självbedömning - halvtid" id="page37">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h4 id="sjLvbedMningHalvtid8-heading15" style="color:#050505;text-align:center;">Fråga 10/18</h4>
    <div class="spacer" style="width: 300px; height: 41px;"></div>
    <div id="sjLvbedMningHalvtid8-markdown19" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Jag
        <strong>har försökt</strong> skriva konsekvensanalyser i mina analysmallar.</p>
    </div>
    <div id="sjLvbedMningHalvtid8-button-bar12" class="button-bar">
      <a ui-sref="menu.sjLvbedMningHalvtid9()" id="sjLvbedMningHalvtid8-button33" class="button button-dark button-block">Ja</a>
      <a ui-sref="menu.sjLvbedMningHalvtid11()" id="sjLvbedMningHalvtid8-button34" class="button button-dark button-block">Nej</a>
    </div>
  </ion-content>
</ion-view>