<ion-view title="Skicka meddelande" id="page62">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <form id="skickaMeddelande-form22" class="list">
      <label class="item item-input" id="skickaMeddelande-textarea2">
        <span class="input-label">Meddelande</span><textarea placeholder="Skriv här"></textarea></label>
    </form>
    <button id="skickaMeddelande-button114" class="button button-positive button-block">Skicka</button>
  </ion-content>
</ion-view>