<ion-view title="Skickad återkoppling 1/U1" id="page87">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="skickadTerkoppling1U1-button-bar59" class="button-bar"></div>
    <h4 id="skickadTerkoppling1U1-heading99" style="color:#CC2828;text-align:center;">Visa återkopping</h4>
    <h5 id="skickadTerkoppling1U1-heading100" style="color:#CC2828;text-align:center;">Återkoppling 1/U1..........2017-10-13</h5>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <h5 id="skickadTerkoppling1U1-heading101" style="color:#1B1BED;">Mål</h5>
    <div id="skickadTerkoppling1U1-markdown133" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Här har du beskrivit din kollegas arbete med koppling till målen </p>
    </div>
    <h5 id="skickadTerkoppling1U1-heading102" style="color:#1B1BED;">Budskap</h5>
    <div id="skickadTerkoppling1U1-markdown134" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Här har du förklarat vad som kan förbättras och/eller vara värt att fundera över. Viktigt att ge tydliga, "handlingsbara" råd</p>
    </div>
    <h5 id="skickadTerkoppling1U1-heading103" style="color:#1B1BED;">Råd/förslag</h5>
    <div id="skickadTerkoppling1U1-markdown135" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Här förklarar din kollega vad som kan förbättras och/eller vara värt att fundera över. Viktigt att ge tydliga, "handlingsbara" råd. </p>
    </div>
    <h5 id="skickadTerkoppling1U1-heading104" style="color:#1B1BED;">Kommentarer</h5>
    <div id="skickadTerkoppling1U1-markdown136" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Du hade inga ytterligare kommentarer</p>
    </div>
    <a ui-sref="menu.bedMning()" id="skickadTerkoppling1U1-button174" class="button button-positive button-block">Visa din bedömning</a>
  </ion-content>
</ion-view>