<ion-view title="Startsida" id="page65">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h4 id="startsida-heading113" style="color:#000000;font-weight:400;">Påminnelser</h4>
    <div id="startsida-button-bar43" class="button-bar"></div>
    <div class="spacer" style="width: 300px; height: 13px;"></div>
    <div id="startsida-markdown99" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#FC0808;font-size:16px;">Deadline . . ..... . . . . .. . . . . . . 17-12-13</p>
    </div>
    <a ui-sref="menu.pGEnde()" id="startsida-button130" style="text-align:left;" class="button button-positive button-block">Du har en uppgift</a>
    <div id="startsida-markdown146" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#FC0808;font-size:16px;">Deadline . . . . . . . . . . . . . . . . . 17-10-05</p>
    </div>
    <a ui-sref="menu.sjLvbedMningHalvtid()" id="startsida-button145" style="text-align:left;" class="button button-positive button-block">Du har en självbedömning - halvtid att göra</a>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <h4 id="startsida-heading124" style="color:#000000;font-weight:400;">Meddelanden</h4>
    <div id="startsida-markdown148" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#FC0808;font-size:16px;">Bedömare 1 . . . . . .. . . . . . . . . 17-10-17</p>
    </div>
    <ion-list id="startsida-list62">
      <div class="item item-body" id="startsida-list-item-container28">
        <div id="startsida-markdown150" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Hej, jag är sjuk så jag kan tyvärr inte skicka min återkoppling på din rapport förrän nästa vecka</p>
        </div>
      </div>
    </ion-list>
    <div id="startsida-markdown161" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#FC0808;font-size:16px;">Bedömare 2 . . . . . . . . . . . . . . 17-10-17</p>
    </div>
    <ion-list id="startsida-list89">
      <div class="item item-body" id="startsida-list-item-container29">
        <div id="startsida-markdown164" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Hej, jag kommer tyvärr att bli sen med att lämna in min rapport som du ska ge återkoppling på. Hoppas det går bra ändå.</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
  </ion-content>
</ion-view>