<ion-view title="Återkoppling 1/U3" id="page107">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="Terkoppling1U3-button-bar104" class="button-bar"></div>
    <h4 id="Terkoppling1U3-heading150" style="color:#FF6600;text-align:center;">Återkoppling 1 - 17-09-15</h4>
    <h5 id="Terkoppling1U3-heading151" style="color:#FF6600;text-align:center;">Uppgift 3</h5>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <h4 id="Terkoppling1U3-heading152" style="color:#FF6600;">Mål</h4>
    <div id="Terkoppling1U3-markdown141" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Här beskriver du en kollegas arbete med koppling till målen</p>
    </div>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h4 id="Terkoppling1U3-heading153" style="color:#FF6600;">Budskap</h4>
    <div id="Terkoppling1U3-markdown142" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Här förklarar du för en kollega hur du tycker att hen genomfört uppgiften utifrån STL-modellen. Både det positiva och det mindre bra.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h4 id="Terkoppling1U3-heading154" style="color:#FF6600;">Råd/förslag</h4>
    <div id="Terkoppling1U3-markdown143" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Här förklarar du för din kollega vad som kan förbättras och/eller vara värt att fundera över. Viktigt att ge tydliga, "handlingsbara" råd</p>
    </div>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h4 id="Terkoppling1U3-heading155" style="color:#FF6600;">Kommentarer</h4>
    <div id="Terkoppling1U3-markdown144" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Ev. övriga kommentarer</p>
    </div>
    <a ui-sref="menu.bedMTerkoppling1U1()" id="Terkoppling1U3-button307" class="button button-positive button-block">Bedöm denna återkoppling</a>
  </ion-content>
</ion-view>