<ion-view title="Återkoppling till dig" id="page60">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="TerkopplingTillDig-button-bar46" class="button-bar"></div>
    <h4 id="TerkopplingTillDig-heading76" style="color:#CC2828;text-align:center;">Uppgift 2</h4>
    <a href-inappbrowser="page54" id="TerkopplingTillDig-button111" style="text-align:left;" class="button button-positive button-block button-outline">Återkoppling 1</a>
    <a href-inappbrowser="page56" id="TerkopplingTillDig-button112" style="text-align:left;" class="button button-positive button-block button-outline">Återkoppling 2</a>
    <a href-inappbrowser="page57" id="TerkopplingTillDig-button113" style="text-align:left;" class="button button-positive button-block button-outline">Återkoppling 3</a>
  </ion-content>
</ion-view>