<ion-view title="Återkoppling 1/U1" id="page50">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="Terkoppling1U1-button-bar38" class="button-bar"></div>
    <h4 id="Terkoppling1U1-heading32" style="color:#FF6600;text-align:center;">Återkoppling 1 - 17-03-13</h4>
    <h5 id="Terkoppling1U1-heading31" style="color:#FF6600;text-align:center;">Uppgift 1</h5>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <h4 id="Terkoppling1U1-heading33" style="color:#FF6600;">Mål</h4>
    <div id="Terkoppling1U1-markdown49" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Här beskriver din kollega ditt arbete med koppling till målen</p>
    </div>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h4 id="Terkoppling1U1-heading34" style="color:#FF6600;">Budskap</h4>
    <div id="Terkoppling1U1-markdown175" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Här förklarar din kollega tydligt hur hen tycker att du genomfört uppgiften utifrån STL-modellen. Både det positiva och det mindre bra.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h4 id="Terkoppling1U1-heading35" style="color:#FF6600;">Råd/förslag</h4>
    <div id="Terkoppling1U1-markdown52" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Här förklarar din kollega vad som kan förbättras och/eller vara värt att fundera över. Viktigt att ge tydliga, "handlingsbara" råd</p>
    </div>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h4 id="Terkoppling1U1-heading36" style="color:#FF6600;">Kommentarer</h4>
    <div id="Terkoppling1U1-markdown53" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Ev. övriga kommentarer till din kollega </p>
    </div>
    <a ui-sref="menu.bedMTerkoppling1U1()" id="Terkoppling1U1-button99" class="button button-positive button-block">Bedöm denna återkoppling</a>
  </ion-content>
</ion-view>