<ion-view title="Återkoppling" id="page27">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 13px;"></div>
    <h4 id="Terkoppling2-heading24" style="color:#FF6600;text-align:center;">Tänk på att:</h4>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="Terkoppling2-markdown11" class="show-list-numbers-and-dots">
      <ol>
        <li>Koppla till målen</li>
        <li>Ge feedback snabbt - Ju förr desto bättre</li>
        <li>Ge tydliga budskap, </li>
        <li>Ge konstruktiva förslag</li>
        <li>Ge lagom mycket feedback - inte mer än mottagaren kan hantera</li>
        <li>Var konsistent</li>
      </ol>
    </div>
  </ion-content>
</ion-view>