<ion-view title="Återkoppling 1/U2" id="page105">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="Terkoppling1U2-button-bar103" class="button-bar"></div>
    <h4 id="Terkoppling1U2-heading143" style="color:#FF6600;text-align:center;">Återkoppling 1 - 17-06-10</h4>
    <h5 id="Terkoppling1U2-heading144" style="color:#FF6600;text-align:center;">Uppgift 2</h5>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <h4 id="Terkoppling1U2-heading145" style="color:#FF6600;">Mål</h4>
    <div id="Terkoppling1U2-markdown123" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Här beskriver din kollega ditt arbete med koppling till målen</p>
    </div>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h4 id="Terkoppling1U2-heading146" style="color:#FF6600;">Budskap</h4>
    <div id="Terkoppling1U2-markdown125" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Här förklarar din kollega tydligt hur hen tycker att du genomfört uppgiften utifrån STL-modellen. Både det positiva och det mindre bra.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h4 id="Terkoppling1U2-heading147" style="color:#FF6600;">Råd/förslag</h4>
    <div id="Terkoppling1U2-markdown127" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Här förklarar din kollega vad som kan förbättras och/eller vara värt att fundera över. Viktigt att ge tydliga, "handlingsbara" råd</p>
    </div>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h4 id="Terkoppling1U2-heading148" style="color:#FF6600;">Kommentarer</h4>
    <div id="Terkoppling1U2-markdown130" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Ev. övriga kommentarer</p>
    </div>
    <a ui-sref="menu.bedMTerkoppling1U1()" id="Terkoppling1U2-button306" class="button button-positive button-block">Bedöm denna återkoppling</a>
  </ion-content>
</ion-view>