<ion-view title="Återkoppling U2" id="page63">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <a ui-sref="meddelande2()" id="TerkopplingU2-button136" style="text-align:left;" class="button button-positive button-block button-outline">Visa meddelande (1)</a>
    <a ui-sref="visaUppgift()" id="TerkopplingU2-button124" style="text-align:left;" class="button button-positive button-block button-outline">Visa uppgift</a>
    <a ui-sref="menu.Terkoppling2()" id="TerkopplingU2-button125" style="text-align:left;" class="button button-positive button-block button-outline">Instruktioner för återkoppling</a>
    <h4 id="TerkopplingU2-heading82" style="color:#DF1818;text-align:center;">Ge återkoppling uppgift 2</h4>
    <form id="TerkopplingU2-form11" class="list">
      <label class="item item-input" id="TerkopplingU2-input24">
        <span class="input-label">Goal</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="TerkopplingU2-input25">
        <span class="input-label">Message</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="TerkopplingU2-input26">
        <span class="input-label">Advice</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="TerkopplingU2-input27">
        <span class="input-label">Comment</span>
        <input type="text" placeholder="">
      </label>
      <button id="TerkopplingU2-button126" class="button button-positive button-block">Skicka</button>
    </form>
  </ion-content>
</ion-view>