<ion-view title="Återkoppling" id="page4">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="Terkoppling-list3" class="manual-list-fullwidth">
      <ion-item class="item-icon-left item-icon-right positive" id="Terkoppling-list-item16">
        <i class="icon ion-ios-list"></i>Återkoppling att göra
        <i class="icon ion-android-remove-circle"></i>
      </ion-item>
    </ion-list>
    <ion-list id="Terkoppling-list91">
      <ion-item class="item-icon-right" id="Terkoppling-list-item194" ui-sref="menu.geTerkopplingU4()">Deltagare 5 . . . . . . . 17-10-30
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="Terkoppling-list-item205" ui-sref="menu.geTerkopplingU4()">Deltagare 8 . . . . . . . 17-10-30
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="Terkoppling-list-item236" ui-sref="menu.geTerkopplingU4()">Deltagare 15 . . . . . . 17-10-30
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 9px;"></div>
    <ion-list id="Terkoppling-list95">
      <ion-item class="item-icon-left item-icon-right positive" id="Terkoppling-list-item115">
        <i class="icon ion-ios-list"></i>Genomförd återkoppling
        <i class="icon ion-android-remove-circle"></i>
      </ion-item>
      <ion-item class="dark" id="Terkoppling-list-item200" ui-sref="menu.Terkoppling1U3()">Återkoppling 1/U2 . .. 17-10-01</ion-item>
      <ion-item class="dark" id="Terkoppling-list-item203" ui-sref="menu.Terkoppling1U3()">Återkoppling 2/U2 . .. 17-10-02</ion-item>
      <ion-item class="dark" id="Terkoppling-list-item204" ui-sref="menu.Terkoppling1U3()">Återkoppling 3/U2 . .. 17-10-02</ion-item>
    </ion-list>
    <ion-list id="Terkoppling-list96" class="manual-list-fullwidth">
      <ion-item class="item-icon-left item-icon-right positive" id="Terkoppling-list-item18" ui-sref="menu.bedMTerkoppling()">
        <i class="icon ion-ios-compose"></i>Bedöm återkoppling
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
    <ion-list id="Terkoppling-list90" class="manual-list-fullwidth">
      <ion-item class="item-icon-left item-icon-right positive" id="Terkoppling-list-item29" ui-sref="menu.Terkoppling2()">
        <i class="icon ion-information-circled"></i>Hur göra återkoppling?
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right positive" id="Terkoppling-list-item71" ui-sref="exempelTerkoppling()">
        <i class="icon ion-ios-color-wand"></i>Exempel på återkopplingar
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>