<ion-view title="Uppgift 4" id="page16">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h4 id="uppgift4-heading81" style="color:#DF1D1D;text-align:center;">Beskrivning</h4>
    <h4 id="uppgift4-heading133" style="color:#FF6600;font-weight:400;">Att använda digitalt material och digitala verktyg</h4>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <h4 id="uppgift4-heading3" style="color:#FF6600;font-weight:400;">Att göra</h4>
    <div id="uppgift4-markdown103" class="show-list-numbers-and-dots">
      <p style="color:#000000;">• Låt eleverna prova på att maila, dela dokument, göra inlägg eller liknande digital uppgift.</p>

      <p style="color:#000000;">• Genomför planerad lektion och fyll i analysmall 1 senast 5/12</p>

      <p style="color:#000000;">• Ge återkoppling till dina återkopplingsvänner</p>

      <p style="color:#000000;">• Sammanställ ingångsvärde (elevresultat)</p>
    </div>
    <h4 id="uppgift4-heading51" style="color:#FF6600;font-weight:400;">Prioriterade områden</h4>
    <div id="uppgift4-markdown119" class="show-list-numbers-and-dots">
      <p style="color:#000000;">(om t.ex. gruppen kommit överens om att fokusera på något särskilt)</p>
    </div>
    <h4 id="uppgift4-heading5" style="color:#FF6600;font-weight:400;">Startdatum</h4>
    <h4 id="uppgift4-heading4" style="color:#FF6600;font-weight:400;">Deadline</h4>
    <div id="uppgift4-markdown179" class="show-list-numbers-and-dots">
      <p style="color:#000000;">2017-11-25</p>
    </div>
    <div id="uppgift4-markdown180" class="show-list-numbers-and-dots">
      <p style="color:#000000;">2017-12-13</p>
    </div>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
  </ion-content>
</ion-view>