<ion-view title="Uppgifter" id="page3">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="uppgifter-list34" class="manual-list-fullwidth">
      <ion-item class="item-icon-left positive" id="uppgifter-list-item159">
        <i class="icon ion-ios-loop-strong"></i>Pågående</ion-item>
    </ion-list>
    <ion-list id="uppgifter-list31">
      <ion-list id="uppgifter-list33">
        <ion-item class="item-icon-right" id="uppgifter-list-item155" ui-sref="menu.pGEnde()">Uppgift 4 . . . . . . . .17-12-13
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
      </ion-list>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <ion-list id="uppgifter-list36" class="manual-list-fullwidth">
      <ion-item class="item-icon-left positive" id="uppgifter-list-item165">
        <i class="icon ion-ios-checkmark-outline"></i>Klara</ion-item>
    </ion-list>
    <ion-list id="uppgifter-list35">
      <ion-item class="item-icon-right" id="uppgifter-list-item151" ui-sref="menu.fRdigUppgift()">Uppgift 1 . . . . . . . .17-03-12
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="uppgifter-list-item163" ui-sref="menu.fRdigUppgift2()">Uppgift 2 . . . . . . . .17-06-10
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="uppgifter-list-item162" ui-sref="menu.fRdigUppgift3()">Uppgift 3 . . . . . . . .17-09-15
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <ion-list id="uppgifter-list2" class="manual-list-fullwidth">
      <ion-item class="item-icon-left positive" id="uppgifter-list-item12" ui-sref="kommandeUppgifter()">
        <i class="icon ion-android-calendar"></i>Kommande</ion-item>
      <ion-item id="uppgifter-list-item152">Inga kommande uppgifter</ion-item>
    </ion-list>
  </ion-content>
</ion-view>