<ion-view title="VIktiga datum" id="page8">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 163px;"></div>
    <div id="vIktigaDatum-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Närmaste deadlines:</p>

      <p style="color:#000000;">17-11-17 Inlämning uppgift 2</p>

      <p style="color:#000000;">17-11-23 Återkoppling uppgift 2</p>
    </div>
    <div class="spacer" style="width: 300px; height: 35px;"></div>
    <div id="vIktigaDatum-markdown100" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Kontrollera regelbundet status på uppgifter, bedömningar, uppdateringar och meddelanden.</p>
    </div>
  </ion-content>
</ion-view>