<ion-view title="Visa återkoppling " id="page88">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="visaTerkoppling-button-bar60" class="button-bar"></div>
    <h4 id="visaTerkoppling-heading105" style="color:#CC2828;text-align:center;">Uppgift 1</h4>
    <h5 id="visaTerkoppling-heading106" style="color:#CC2828;text-align:center;">Återkoppling 2 - 05/10/2017</h5>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <h5 id="visaTerkoppling-heading107" style="color:#1B1BED;">Mål</h5>
    <div id="visaTerkoppling-markdown137" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Här beskriver din kollega ditt arbete med koppling till målen</p>
    </div>
    <h5 id="visaTerkoppling-heading108" style="color:#1B1BED;">Budskap</h5>
    <div id="visaTerkoppling-markdown138" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Här förklarar din kollega tydligt hur hen tycker att du genomfört uppgiften utifrån STL-modellen. Både det positiva och det mindre bra. </p>
    </div>
    <h5 id="visaTerkoppling-heading109" style="color:#1B1BED;">Råd/förslag</h5>
    <div id="visaTerkoppling-markdown139" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Här förklarar din kollega vad som kan förbättras och/eller vara värt att fundera över. Viktigt att ge tydliga, "handlingsbara" råd.</p>
    </div>
    <h5 id="visaTerkoppling-heading110" style="color:#1B1BED;">Kommentarer</h5>
    <div id="visaTerkoppling-markdown174" class="show-list-numbers-and-dots">
      <p style="color:#000000;">(inga kommentarer)</p>
    </div>
    <a ui-sref="bedMning2()" id="visaTerkoppling-button175" class="button button-positive button-block">Se din bedömning</a>
  </ion-content>
</ion-view>