<ion-view title="Visa uppgift" id="page64">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon No Icon"> STL</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h4 id="visaUppgift-heading84" style="color:#F20F0F;text-align:center;">Uppgift 4</h4>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h4 id="visaUppgift-heading83" style="color:#3063D7;font-weight:600;">Deadline: 2017-10-12 </h4>
    <ion-list id="visaUppgift-list21">
      <ion-item class="dark" id="visaUppgift-list-item65" ui-sref="menu.uppgift4()">Beskrivning</ion-item>
      <ion-item class="dark" id="visaUppgift-list-item66" ui-sref="menu.materialTillUppgift()">Material till uppgift</ion-item>
      <ion-item class="dark" id="visaUppgift-list-item67" ui-sref="menu.meddelanden3()">Meddelanden</ion-item>
      <ion-item class="dark" id="visaUppgift-list-item68" ui-sref="menu.grupper()">Grupp</ion-item>
    </ion-list>
  </ion-content>
</ion-view>