<ion-view title="Welcome to STL" hide-nav-bar="true" id="page97">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="welcomeToSTL-button-bar99" class="button-bar"></div>
    <form id="welcomeToSTL-form13" class="list">
      <div class="spacer" style="width: 300px; height: 10px;"></div>
    </form>
    <h3 id="welcomeToSTL-heading130" style="color:#FF6600;font-weight:400;text-align:center;">Välkommen till STL</h3>
    <div class="spacer" style="width: 300px; height: 24px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/Sd11X9HsRD26PSsdYv4u_stl-logo_edited.png" style="display: block; width: 100%; height: 100%; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 28px;"></div>
    <a ui-sref="login()" id="welcomeToSTL-button144" class="button button-positive button-block">Login</a>
  </ion-content>
</ion-view>